*{
    margin: 0;
    padding: 0;

}
body{
    margin-top:25px;
    text-align: center;
}
p{
    font-size: 14px;
}
img{
    width: 200px;
    height: 200px;
}
.app1{
    opacity: 1;
}
.app2{
    opacity: 0;
    display: none;
}
a{
    margin-top: 15px;
    display: block;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    color: #3B9BDC;
}
/* .content:hover .app1{
    display: none;
}
.content:hover .app2{
    display: inline-block;
} */