*{
    margin: 0;
    padding: 0;
}
body{
    margin-top:25px;
    width: 338.4px;
    height: 202.6px;
}
.login1{
    width: 255px;
    height: 177.6px;
    position: relative;
    margin: 0px auto;
}
.login1 .user,.password{
    display: block;
    background-color: #eef3f8;
    border: 1px solid #bac5d4;
    padding: 5px;
    width: 243px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
}
.tips{
    padding: 7px 0px;
    text-align: center;
    color: #92a4bf;
    font-size: 12px;
}
.memory{
    margin: 6px 0px;
    height: 30px;
    line-height: 30px;
    color: #565551;
    font-size: 12px;
}
.memory::after{
    content: '';
    display: block;
    clear: both;
}
.memory a{
    float:right;
}
.memory .choose,.memory_text{
    cursor: pointer;
}
.submit{
    cursor: pointer;
    padding: 3px 0;
    width: 255px;
    line-height: 30px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #3790CC;
    background-color: #3B9BDC;
}
.login_bottom{
    width: 100%;
    height: 42px;
    position: absolute;
    bottom: 4px;
}
.login_bottom::after{
    content: '';
    display: block;
    clear: both;
}
.login_bottom .ios{
    margin-left: 20px;
    display: inline-block;
    width: 70px;
    height: 42px;
    background-image: url(../img/new_app_iOS.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.login_bottom .android{
    display: inline-block;
    width: 90px;
    height: 42px;
    background-image: url(../img/new_android.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}
